@model WebsiteTinhThanFoundation.Models.Registeredvolunteers;
<form asp-action="Create" asp-controller="Volunteer">
    <div class="row g-3">
        <div class="col-12">
            <h3 class="text-center text-white">Đăng ký làm tình nguyện viên</h3>
        </div>
        <div class="col-xl-12">
            <input type="text" class="form-control bg-light border-0" asp-for="FullName" placeholder="Tên của bạn" style="height: 55px;">
        </div>
        <div class="col-12">
            <input type="email" class="form-control bg-light border-0" asp-for="Email" placeholder="Email của bạn" style="height: 55px;">
        </div>
        <!-- <div class="col-12">
            <select class="form-select bg-light border-0" style="height: 55px;">
                <option selected>Select A Service</option>
                <option value="1">Service 1</option>
                <option value="2">Service 2</option>
                <option value="3">Service 3</option>
            </select>
        </div> -->
        <div class="col-12">
            <textarea class="form-control bg-light border-0" asp-for="Addreass" rows="3" placeholder="Địa chỉ của bạn"></textarea>
        </div>
        <div class="col-12">
            <button class="btn btn-dark w-100 py-3" type="submit">Đăng ký tình nguyện viên</button>
        </div>
    </div>
</form>