@{
    ViewData["Title"] = "Về chúng tôi";
}
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Về chúng tôi</h5>
                    <h1 class="mb-0">Tình Thân - 28 Năm Hành Trình Vì Cộng Đồng TP.HCM</h1>
                </div>
                <p class="mb-4">"Tình Thân, thành lập từ 1996, hỗ trợ cộng đồng nghèo TP.HCM với nhiều hoạt động như truyền thông HIV/AIDS, chống bạo hành, giảm thiểu đói. Chương trình 'Tiết Kiệm Tín Dụng' (TKTD) giúp người nghèo mượn vốn, nhưng thách thức là làm thế nào họ có thể hoàn trả vốn lẫn lãi, đang được nghiên cứu sâu rộng (Phạm Trường Sơn, 2022)."</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Không Phát Sinh Chi Phí</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Đội Ngũ Cống Hiến</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Hỗ trợ 24/7</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Chuyên môn và chuyên nghiệp</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Tầm nhìn và sứ mệnh</h1>
        </div>
        <div class="row g-5">
            <div class="col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded text-center d-flex flex-column align-items-center">
                    <div class="service-icon text-white fs-2">
                        <i class="fas fa-bullseye"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h4 class="mb-3">Sứ mệnh</h4>
                        <ul class="text-start">
                            <li>Tăng cường năng lực tài chính cho người dân</li>
                            <li>Thúc đẩy sự tham gia nhằm huy động nguồn lực cộng đồng</li>
                            <li>Nâng cao chất lượng cuộc sống người dân bằng sự tự quyết của chính họ</li>
                        </ul>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center text-center">
                    <div class="service-icon text-white fs-2">
                        <i class="fas fa-low-vision"></i>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h4 class="mb-3">Tầm nhìn</h4>
                        <p class="m-0 text-start">
                            Tình Thân tin rằng việc thúc đẩy năng lực và sự tham gia toàn diện của người dân
                            sẽ là giải pháp hướng đến cuộc sống bền vững.
                        </p>
                        <a class="btn btn-lg btn-primary rounded" href="">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Giá trị</h5>
            <h1 class="mb-0">Giá Trị Của Tổ Chức Chúng Tôi</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>Tôn trọng</h4>
                        <p class="mb-0">Chúng tôi coi trọng kiến thức, kỹ năng và kinh nghiệm của người dân, đặt họ làm trung tâm quyết định cho cuộc sống của mình.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-white"></i>
                        </div>
                        <h4>Liêm chính</h4>
                        <p class="mb-0">Là người làm công tác xã hội và phát triển cộng đồng, chúng tôi tuân thủ quy định đạo đức ngành. Sự liêm chính trong hoạt động và quản lý tài chính là ưu tiên hàng đầu.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="./img/about-2.png" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fas fa-check text-white"></i>
                        </div>
                        <h4>Chấp nhận</h4>
                        <p class="mb-0">Trong hành trình làm việc với người nghèo thành thị, chúng tôi chấp nhận những thách thức và rủi ro để cùng nhau học hỏi và điều chỉnh hướng chuyên nghiệp.</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fas fa-user-tie text-white"></i>
                        </div>
                        <h4>Chuyên môn và chuyên nghiệp</h4>
                        <p class="mb-0">Chúng tôi không ngừng nâng cao kỹ năng để phục vụ cộng đồng nghèo thành thị và chia sẻ chuyên môn để hỗ trợ sự phát triển bền vững của cộng đồng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->
<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Lãnh đạo</h5>
            <h1 class="mb-0">Những lãnh đạo dẫn dắt Tình Thân</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="./img/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">Phạm Trường Sơn </h4>
                        <p class="text-uppercase m-0">Chủ nhiệm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">Nguyễn Thị Kim Dung</h4>
                        <p class="text-uppercase m-0">Quản Lý</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">Đào Dũng Phương</h4>
                        <p class="text-uppercase m-0">Điều phối viên</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Vendor Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 mb-5">
        <div class="bg-white">
            <div class="owl-carousel vendor-carousel">
                <img src="~/img/vendor-1.jpg" alt="">
                <img src="~/img/vendor-2.jpg" alt="">
                <img src="~/img/vendor-3.jpg" alt="">
                <img src="~/img/vendor-4.jpg" alt="">
                <img src="~/img/vendor-5.jpg" alt="">
                <img src="~/img/vendor-6.jpg" alt="">
                <img src="~/img/vendor-7.jpg" alt="">
                <img src="~/img/vendor-8.jpg" alt="">
                <img src="~/img/vendor-9.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->